{
  "openapi": "3.0.3",
  "info": {
    "title": "Documenso v2 beta API",
    "description": "Subject to breaking changes until v2 is fully released.",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://app.documenso.com/api/v2-beta"
    }
  ],
  "paths": {
    "/document/update": {
      "post": {
        "operationId": "document-updateDocument",
        "summary": "Update document",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentId": {
                    "type": "number"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255,
                        "description": "The title of the document."
                      },
                      "externalId": {
                        "type": "string",
                        "nullable": true,
                        "description": "The external ID of the document."
                      },
                      "visibility": {
                        "type": "string",
                        "enum": [
                          "EVERYONE",
                          "MANAGER_AND_ABOVE",
                          "ADMIN"
                        ],
                        "description": "The visibility of the document."
                      },
                      "globalAccessAuth": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT"
                          ],
                          "description": "The type of authentication required for the recipient to access the document."
                        }
                      },
                      "globalActionAuth": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "ACCOUNT",
                            "PASSKEY",
                            "TWO_FACTOR_AUTH",
                            "PASSWORD"
                          ],
                          "description": "The type of authentication required for the recipient to sign the document. This field is restricted to Enterprise plan users only."
                        }
                      },
                      "useLegacyFieldInsertion": {
                        "type": "boolean"
                      }
                    }
                  },
                  "meta": {
                    "type": "object",
                    "properties": {
                      "subject": {
                        "type": "string",
                        "description": "The subject of the email that will be sent to the recipients."
                      },
                      "message": {
                        "type": "string",
                        "description": "The message of the email that will be sent to the recipients."
                      },
                      "timezone": {
                        "type": "string",
                        "description": "The timezone to use for date fields and signing the document. Example Etc/UTC, Australia/Melbourne"
                      },
                      "dateFormat": {
                        "type": "string",
                        "enum": [
                          "yyyy-MM-dd hh:mm a",
                          "yyyy-MM-dd",
                          "dd/MM/yyyy hh:mm a",
                          "MM/dd/yyyy hh:mm a",
                          "yyyy-MM-dd HH:mm",
                          "yy-MM-dd hh:mm a",
                          "yyyy-MM-dd HH:mm:ss",
                          "MMMM dd, yyyy hh:mm a",
                          "EEEE, MMMM dd, yyyy hh:mm a",
                          "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
                        ],
                        "description": "The date format to use for date fields and signing the document."
                      },
                      "distributionMethod": {
                        "type": "string",
                        "enum": [
                          "EMAIL",
                          "NONE"
                        ],
                        "description": "The distribution method to use when sending the document to the recipients."
                      },
                      "signingOrder": {
                        "type": "string",
                        "enum": [
                          "PARALLEL",
                          "SEQUENTIAL"
                        ]
                      },
                      "allowDictateNextSigner": {
                        "type": "boolean"
                      },
                      "redirectUrl": {
                        "type": "string",
                        "description": "The URL to which the recipient should be redirected after signing the document."
                      },
                      "language": {
                        "type": "string",
                        "enum": [
                          "de",
                          "en",
                          "fr",
                          "es",
                          "it",
                          "pl"
                        ],
                        "description": "The language to use for email communications with recipients."
                      },
                      "typedSignatureEnabled": {
                        "type": "boolean",
                        "description": "Whether to allow recipients to sign using a typed signature."
                      },
                      "uploadSignatureEnabled": {
                        "type": "boolean",
                        "description": "Whether to allow recipients to sign using an uploaded signature."
                      },
                      "drawSignatureEnabled": {
                        "type": "boolean",
                        "description": "Whether to allow recipients to sign using a draw signature."
                      },
                      "emailSettings": {
                        "type": "object",
                        "properties": {
                          "recipientSigningRequest": {
                            "type": "boolean",
                            "description": "Whether to send an email to all recipients that the document is ready for them to sign.",
                            "default": true
                          },
                          "recipientRemoved": {
                            "type": "boolean",
                            "description": "Whether to send an email to the recipient who was removed from a pending document.",
                            "default": true
                          },
                          "recipientSigned": {
                            "type": "boolean",
                            "description": "Whether to send an email to the document owner when a recipient has signed the document.",
                            "default": true
                          },
                          "documentPending": {
                            "type": "boolean",
                            "description": "Whether to send an email to the recipient who has just signed the document indicating that there are still other recipients who need to sign the document. This will only be sent if the document is still pending after the recipient has signed.",
                            "default": true
                          },
                          "documentCompleted": {
                            "type": "boolean",
                            "description": "Whether to send an email to all recipients when the document is complete.",
                            "default": true
                          },
                          "documentDeleted": {
                            "type": "boolean",
                            "description": "Whether to send an email to all recipients if a pending document has been deleted.",
                            "default": true
                          },
                          "ownerDocumentCompleted": {
                            "type": "boolean",
                            "description": "Whether to send an email to the document owner when the document is complete.",
                            "default": true
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "documentId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visibility": {
                      "type": "string",
                      "enum": [
                        "EVERYONE",
                        "MANAGER_AND_ABOVE",
                        "ADMIN"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "DRAFT",
                        "PENDING",
                        "COMPLETED",
                        "REJECTED"
                      ]
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "DOCUMENT",
                        "TEMPLATE",
                        "TEMPLATE_DIRECT_LINK"
                      ]
                    },
                    "id": {
                      "type": "number"
                    },
                    "externalId": {
                      "type": "string",
                      "nullable": true,
                      "description": "A custom external ID you can use to identify the document."
                    },
                    "userId": {
                      "type": "number",
                      "description": "The ID of the user that created this document."
                    },
                    "authOptions": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "globalAccessAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT"
                            ],
                            "description": "The type of authentication required for the recipient to access the document."
                          }
                        },
                        "globalActionAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "PASSKEY",
                              "TWO_FACTOR_AUTH",
                              "PASSWORD"
                            ],
                            "description": "The type of authentication required for the recipient to sign the document. This field is restricted to Enterprise plan users only."
                          }
                        }
                      },
                      "required": [
                        "globalAccessAuth",
                        "globalActionAuth"
                      ]
                    },
                    "formValues": {
                      "type": "object",
                      "nullable": true,
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    },
                    "title": {
                      "type": "string"
                    },
                    "documentDataId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "completedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "deletedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "teamId": {
                      "type": "number"
                    },
                    "templateId": {
                      "type": "number",
                      "nullable": true
                    },
                    "folderId": {
                      "type": "string",
                      "nullable": true
                    },
                    "useLegacyFieldInsertion": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "visibility",
                    "status",
                    "source",
                    "id",
                    "externalId",
                    "userId",
                    "authOptions",
                    "formValues",
                    "title",
                    "documentDataId",
                    "createdAt",
                    "updatedAt",
                    "completedAt",
                    "deletedAt",
                    "teamId",
                    "templateId",
                    "folderId",
                    "useLegacyFieldInsertion"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "documents",
        "x-speakeasy-name-override": "update",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/documenso/sdk-go\"\n\t\"github.com/documenso/sdk-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"DOCUMENSO_API_KEY\")),\n    )\n\n    res, err := s.Documents.Update(ctx, operations.DocumentUpdateDocumentRequest{\n        DocumentID: 9701.92,\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Object != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from documenso_sdk import Documenso\nimport os\n\n\nwith Documenso(\n    api_key=os.getenv(\"DOCUMENSO_API_KEY\", \"\"),\n) as documenso:\n\n    res = documenso.documents.update(document_id=8574.78)\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Documenso } from \"@documenso/sdk-typescript\";\n\nconst documenso = new Documenso({\n  apiKey: process.env[\"DOCUMENSO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await documenso.documents.update({\n    documentId: 9701.92,\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/document": {
      "get": {
        "operationId": "document-findDocuments",
        "summary": "Find documents",
        "description": "Find documents based on a search criteria",
        "tags": [
          "Document"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "description": "The search query.",
            "schema": {
              "type": "string",
              "description": "The search query."
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "The pagination page number, starts at 1.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "description": "The pagination page number, starts at 1."
            }
          },
          {
            "in": "query",
            "name": "perPage",
            "description": "The number of items per page.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "description": "The number of items per page."
            }
          },
          {
            "in": "query",
            "name": "templateId",
            "description": "Filter documents by the template ID used to create it.",
            "schema": {
              "type": "number",
              "description": "Filter documents by the template ID used to create it."
            }
          },
          {
            "in": "query",
            "name": "source",
            "description": "Filter documents by how it was created.",
            "schema": {
              "type": "string",
              "enum": [
                "DOCUMENT",
                "TEMPLATE",
                "TEMPLATE_DIRECT_LINK"
              ],
              "description": "Filter documents by how it was created."
            }
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter documents by the current status",
            "schema": {
              "type": "string",
              "enum": [
                "DRAFT",
                "PENDING",
                "COMPLETED",
                "REJECTED"
              ],
              "description": "Filter documents by the current status"
            }
          },
          {
            "in": "query",
            "name": "folderId",
            "description": "Filter documents by folder ID",
            "schema": {
              "type": "string",
              "description": "Filter documents by folder ID"
            }
          },
          {
            "in": "query",
            "name": "orderByColumn",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt"
              ]
            }
          },
          {
            "in": "query",
            "name": "orderByDirection",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "visibility": {
                            "type": "string",
                            "enum": [
                              "EVERYONE",
                              "MANAGER_AND_ABOVE",
                              "ADMIN"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "DRAFT",
                              "PENDING",
                              "COMPLETED",
                              "REJECTED"
                            ]
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "DOCUMENT",
                              "TEMPLATE",
                              "TEMPLATE_DIRECT_LINK"
                            ]
                          },
                          "id": {
                            "type": "number"
                          },
                          "externalId": {
                            "type": "string",
                            "nullable": true,
                            "description": "A custom external ID you can use to identify the document."
                          },
                          "userId": {
                            "type": "number",
                            "description": "The ID of the user that created this document."
                          },
                          "authOptions": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "globalAccessAuth": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "ACCOUNT"
                                  ],
                                  "description": "The type of authentication required for the recipient to access the document."
                                }
                              },
                              "globalActionAuth": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "ACCOUNT",
                                    "PASSKEY",
                                    "TWO_FACTOR_AUTH",
                                    "PASSWORD"
                                  ],
                                  "description": "The type of authentication required for the recipient to sign the document. This field is restricted to Enterprise plan users only."
                                }
                              }
                            },
                            "required": [
                              "globalAccessAuth",
                              "globalActionAuth"
                            ]
                          },
                          "formValues": {
                            "type": "object",
                            "nullable": true,
                            "additionalProperties": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "number"
                                }
                              ]
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "documentDataId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "completedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "deletedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "teamId": {
                            "type": "number"
                          },
                          "templateId": {
                            "type": "number",
                            "nullable": true
                          },
                          "folderId": {
                            "type": "string",
                            "nullable": true
                          },
                          "useLegacyFieldInsertion": {
                            "type": "boolean"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "email": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "email"
                            ]
                          },
                          "recipients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "role": {
                                  "type": "string",
                                  "enum": [
                                    "CC",
                                    "SIGNER",
                                    "VIEWER",
                                    "APPROVER",
                                    "ASSISTANT"
                                  ]
                                },
                                "readStatus": {
                                  "type": "string",
                                  "enum": [
                                    "NOT_OPENED",
                                    "OPENED"
                                  ]
                                },
                                "signingStatus": {
                                  "type": "string",
                                  "enum": [
                                    "NOT_SIGNED",
                                    "SIGNED",
                                    "REJECTED"
                                  ]
                                },
                                "sendStatus": {
                                  "type": "string",
                                  "enum": [
                                    "NOT_SENT",
                                    "SENT"
                                  ]
                                },
                                "id": {
                                  "type": "number"
                                },
                                "documentId": {
                                  "type": "number",
                                  "nullable": true
                                },
                                "templateId": {
                                  "type": "number",
                                  "nullable": true
                                },
                                "email": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "token": {
                                  "type": "string"
                                },
                                "documentDeletedAt": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "expired": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "signedAt": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "authOptions": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "accessAuth": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "ACCOUNT"
                                        ],
                                        "description": "The type of authentication required for the recipient to access the document."
                                      }
                                    },
                                    "actionAuth": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "enum": [
                                          "ACCOUNT",
                                          "PASSKEY",
                                          "TWO_FACTOR_AUTH",
                                          "PASSWORD",
                                          "EXPLICIT_NONE"
                                        ],
                                        "description": "The type of authentication required for the recipient to sign the document."
                                      }
                                    }
                                  },
                                  "required": [
                                    "accessAuth",
                                    "actionAuth"
                                  ]
                                },
                                "signingOrder": {
                                  "type": "number",
                                  "nullable": true,
                                  "description": "The order in which the recipient should sign the document. Only works if the document is set to sequential signing."
                                },
                                "rejectionReason": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "role",
                                "readStatus",
                                "signingStatus",
                                "sendStatus",
                                "id",
                                "documentId",
                                "templateId",
                                "email",
                                "name",
                                "token",
                                "documentDeletedAt",
                                "expired",
                                "signedAt",
                                "authOptions",
                                "signingOrder",
                                "rejectionReason"
                              ]
                            }
                          },
                          "team": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "url"
                            ]
                          }
                        },
                        "required": [
                          "visibility",
                          "status",
                          "source",
                          "id",
                          "externalId",
                          "userId",
                          "authOptions",
                          "formValues",
                          "title",
                          "documentDataId",
                          "createdAt",
                          "updatedAt",
                          "completedAt",
                          "deletedAt",
                          "teamId",
                          "templateId",
                          "folderId",
                          "useLegacyFieldInsertion",
                          "user",
                          "recipients",
                          "team"
                        ]
                      }
                    },
                    "count": {
                      "type": "number",
                      "description": "The total number of items."
                    },
                    "currentPage": {
                      "type": "number",
                      "description": "The current page number, starts at 1."
                    },
                    "perPage": {
                      "type": "number",
                      "description": "The number of items per page."
                    },
                    "totalPages": {
                      "type": "number",
                      "description": "The total number of pages."
                    }
                  },
                  "required": [
                    "data",
                    "count",
                    "currentPage",
                    "perPage",
                    "totalPages"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "documents",
        "x-speakeasy-name-override": "find",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/documenso/sdk-go\"\n\t\"github.com/documenso/sdk-go/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"DOCUMENSO_API_KEY\")),\n    )\n\n    res, err := s.Documents.Find(ctx, operations.DocumentFindDocumentsRequest{})\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Object != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from documenso_sdk import Documenso\nimport os\n\n\nwith Documenso(\n    api_key=os.getenv(\"DOCUMENSO_API_KEY\", \"\"),\n) as documenso:\n\n    res = documenso.documents.find()\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Documenso } from \"@documenso/sdk-typescript\";\n\nconst documenso = new Documenso({\n  apiKey: process.env[\"DOCUMENSO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await documenso.documents.find({});\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/document/{documentId}": {
      "get": {
        "operationId": "document-getDocumentWithDetailsById",
        "summary": "Get document",
        "description": "Returns a document given an ID",
        "tags": [
          "Document"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "documentId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "folderId",
            "description": "Filter documents by folder ID",
            "schema": {
              "type": "string",
              "description": "Filter documents by folder ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visibility": {
                      "type": "string",
                      "enum": [
                        "EVERYONE",
                        "MANAGER_AND_ABOVE",
                        "ADMIN"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "DRAFT",
                        "PENDING",
                        "COMPLETED",
                        "REJECTED"
                      ]
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "DOCUMENT",
                        "TEMPLATE",
                        "TEMPLATE_DIRECT_LINK"
                      ]
                    },
                    "id": {
                      "type": "number"
                    },
                    "externalId": {
                      "type": "string",
                      "nullable": true,
                      "description": "A custom external ID you can use to identify the document."
                    },
                    "userId": {
                      "type": "number",
                      "description": "The ID of the user that created this document."
                    },
                    "authOptions": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "globalAccessAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT"
                            ],
                            "description": "The type of authentication required for the recipient to access the document."
                          }
                        },
                        "globalActionAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "PASSKEY",
                              "TWO_FACTOR_AUTH",
                              "PASSWORD"
                            ],
                            "description": "The type of authentication required for the recipient to sign the document. This field is restricted to Enterprise plan users only."
                          }
                        }
                      },
                      "required": [
                        "globalAccessAuth",
                        "globalActionAuth"
                      ]
                    },
                    "formValues": {
                      "type": "object",
                      "nullable": true,
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    },
                    "title": {
                      "type": "string"
                    },
                    "documentDataId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "completedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "deletedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "teamId": {
                      "type": "number"
                    },
                    "templateId": {
                      "type": "number",
                      "nullable": true
                    },
                    "folderId": {
                      "type": "string",
                      "nullable": true
                    },
                    "documentData": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "S3_PATH",
                            "BYTES",
                            "BYTES_64"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "data": {
                          "type": "string"
                        },
                        "initialData": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "type",
                        "id",
                        "data",
                        "initialData"
                      ]
                    },
                    "documentMeta": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "signingOrder": {
                          "type": "string",
                          "enum": [
                            "PARALLEL",
                            "SEQUENTIAL"
                          ]
                        },
                        "distributionMethod": {
                          "type": "string",
                          "enum": [
                            "EMAIL",
                            "NONE"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "subject": {
                          "type": "string",
                          "nullable": true
                        },
                        "message": {
                          "type": "string",
                          "nullable": true
                        },
                        "timezone": {
                          "type": "string",
                          "nullable": true
                        },
                        "password": {
                          "type": "string",
                          "nullable": true
                        },
                        "dateFormat": {
                          "type": "string",
                          "nullable": true
                        },
                        "documentId": {
                          "type": "number"
                        },
                        "redirectUrl": {
                          "type": "string",
                          "nullable": true
                        },
                        "typedSignatureEnabled": {
                          "type": "boolean"
                        },
                        "uploadSignatureEnabled": {
                          "type": "boolean"
                        },
                        "drawSignatureEnabled": {
                          "type": "boolean"
                        },
                        "allowDictateNextSigner": {
                          "type": "boolean"
                        },
                        "language": {
                          "type": "string"
                        },
                        "emailSettings": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "recipientSigningRequest": {
                              "type": "boolean",
                              "description": "Whether to send an email to all recipients that the document is ready for them to sign.",
                              "default": true
                            },
                            "recipientRemoved": {
                              "type": "boolean",
                              "description": "Whether to send an email to the recipient who was removed from a pending document.",
                              "default": true
                            },
                            "recipientSigned": {
                              "type": "boolean",
                              "description": "Whether to send an email to the document owner when a recipient has signed the document.",
                              "default": true
                            },
                            "documentPending": {
                              "type": "boolean",
                              "description": "Whether to send an email to the recipient who has just signed the document indicating that there are still other recipients who need to sign the document. This will only be sent if the document is still pending after the recipient has signed.",
                              "default": true
                            },
                            "documentCompleted": {
                              "type": "boolean",
                              "description": "Whether to send an email to all recipients when the document is complete.",
                              "default": true
                            },
                            "documentDeleted": {
                              "type": "boolean",
                              "description": "Whether to send an email to all recipients if a pending document has been deleted.",
                              "default": true
                            },
                            "ownerDocumentCompleted": {
                              "type": "boolean",
                              "description": "Whether to send an email to the document owner when the document is complete.",
                              "default": true
                            }
                          },
                          "required": [
                            "recipientSigningRequest",
                            "recipientRemoved",
                            "recipientSigned",
                            "documentPending",
                            "documentCompleted",
                            "documentDeleted",
                            "ownerDocumentCompleted"
                          ]
                        }
                      },
                      "required": [
                        "signingOrder",
                        "distributionMethod",
                        "id",
                        "subject",
                        "message",
                        "timezone",
                        "password",
                        "dateFormat",
                        "documentId",
                        "redirectUrl",
                        "typedSignatureEnabled",
                        "uploadSignatureEnabled",
                        "drawSignatureEnabled",
                        "allowDictateNextSigner",
                        "language",
                        "emailSettings"
                      ]
                    },
                    "folder": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "DOCUMENT",
                            "TEMPLATE"
                          ]
                        },
                        "visibility": {
                          "type": "string",
                          "enum": [
                            "EVERYONE",
                            "MANAGER_AND_ABOVE",
                            "ADMIN"
                          ]
                        },
                        "userId": {
                          "type": "number"
                        },
                        "teamId": {
                          "type": "number"
                        },
                        "pinned": {
                          "type": "boolean"
                        },
                        "parentId": {
                          "type": "string",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "type",
                        "visibility",
                        "userId",
                        "teamId",
                        "pinned",
                        "parentId",
                        "createdAt",
                        "updatedAt"
                      ]
                    },
                    "recipients": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "enum": [
                              "CC",
                              "SIGNER",
                              "VIEWER",
                              "APPROVER",
                              "ASSISTANT"
                            ]
                          },
                          "readStatus": {
                            "type": "string",
                            "enum": [
                              "NOT_OPENED",
                              "OPENED"
                            ]
                          },
                          "signingStatus": {
                            "type": "string",
                            "enum": [
                              "NOT_SIGNED",
                              "SIGNED",
                              "REJECTED"
                            ]
                          },
                          "sendStatus": {
                            "type": "string",
                            "enum": [
                              "NOT_SENT",
                              "SENT"
                            ]
                          },
                          "id": {
                            "type": "number"
                          },
                          "documentId": {
                            "type": "number",
                            "nullable": true
                          },
                          "templateId": {
                            "type": "number",
                            "nullable": true
                          },
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "documentDeletedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "expired": {
                            "type": "string",
                            "nullable": true
                          },
                          "signedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "authOptions": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "accessAuth": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "ACCOUNT"
                                  ],
                                  "description": "The type of authentication required for the recipient to access the document."
                                }
                              },
                              "actionAuth": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "ACCOUNT",
                                    "PASSKEY",
                                    "TWO_FACTOR_AUTH",
                                    "PASSWORD",
                                    "EXPLICIT_NONE"
                                  ],
                                  "description": "The type of authentication required for the recipient to sign the document."
                                }
                              }
                            },
                            "required": [
                              "accessAuth",
                              "actionAuth"
                            ]
                          },
                          "signingOrder": {
                            "type": "number",
                            "nullable": true,
                            "description": "The order in which the recipient should sign the document. Only works if the document is set to sequential signing."
                          },
                          "rejectionReason": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "role",
                          "readStatus",
                          "signingStatus",
                          "sendStatus",
                          "id",
                          "documentId",
                          "templateId",
                          "email",
                          "name",
                          "token",
                          "documentDeletedAt",
                          "expired",
                          "signedAt",
                          "authOptions",
                          "signingOrder",
                          "rejectionReason"
                        ]
                      }
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "SIGNATURE",
                              "FREE_SIGNATURE",
                              "INITIALS",
                              "NAME",
                              "EMAIL",
                              "DATE",
                              "TEXT",
                              "NUMBER",
                              "RADIO",
                              "CHECKBOX",
                              "DROPDOWN"
                            ]
                          },
                          "id": {
                            "type": "number"
                          },
                          "secondaryId": {
                            "type": "string"
                          },
                          "documentId": {
                            "type": "number",
                            "nullable": true
                          },
                          "templateId": {
                            "type": "number",
                            "nullable": true
                          },
                          "recipientId": {
                            "type": "number"
                          },
                          "page": {
                            "type": "number",
                            "description": "The page number of the field on the document. Starts from 1."
                          },
                          "positionX": {},
                          "positionY": {},
                          "width": {},
                          "height": {},
                          "customText": {
                            "type": "string"
                          },
                          "inserted": {
                            "type": "boolean"
                          },
                          "fieldMeta": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "initials"
                                    ]
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "name"
                                    ]
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "email"
                                    ]
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "date"
                                    ]
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "characterLimit": {
                                    "type": "number"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "number"
                                    ]
                                  },
                                  "numberFormat": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  },
                                  "minValue": {
                                    "type": "number"
                                  },
                                  "maxValue": {
                                    "type": "number"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "radio"
                                    ]
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "checked": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "checked",
                                        "value"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "checkbox"
                                    ]
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "checked": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "checked",
                                        "value"
                                      ]
                                    }
                                  },
                                  "validationRule": {
                                    "type": "string"
                                  },
                                  "validationLength": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "dropdown"
                                    ]
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "value"
                                      ]
                                    }
                                  },
                                  "defaultValue": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              }
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "id",
                          "secondaryId",
                          "documentId",
                          "templateId",
                          "recipientId",
                          "page",
                          "customText",
                          "inserted",
                          "fieldMeta"
                        ]
                      }
                    }
                  },
                  "required": [
                    "visibility",
                    "status",
                    "source",
                    "id",
                    "externalId",
                    "userId",
                    "authOptions",
                    "formValues",
                    "title",
                    "documentDataId",
                    "createdAt",
                    "updatedAt",
                    "completedAt",
                    "deletedAt",
                    "teamId",
                    "templateId",
                    "folderId",
                    "documentData",
                    "documentMeta",
                    "folder",
                    "recipients",
                    "fields"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "issues": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "message",
                    "code"
                  ]
                }
              }
            }
          }
        },
        "x-speakeasy-group": "documents",
        "x-speakeasy-name-override": "get",
        "x-codeSamples": [
          {
            "lang": "go",
            "label": "Go (SDK)",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"os\"\n\tsdkgo \"github.com/documenso/sdk-go\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := sdkgo.New(\n        sdkgo.WithSecurity(os.Getenv(\"DOCUMENSO_API_KEY\")),\n    )\n\n    res, err := s.Documents.Get(ctx, 7491.86)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Object != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "python",
            "label": "Python (SDK)",
            "source": "from documenso_sdk import Documenso\nimport os\n\n\nwith Documenso(\n    api_key=os.getenv(\"DOCUMENSO_API_KEY\", \"\"),\n) as documenso:\n\n    res = documenso.documents.get(document_id=7003.47)\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "typescript",
            "label": "Typescript (SDK)",
            "source": "import { Documenso } from \"@documenso/sdk-typescript\";\n\nconst documenso = new Documenso({\n  apiKey: process.env[\"DOCUMENSO_API_KEY\"] ?? \"\",\n});\n\nasync function run() {\n  const result = await documenso.documents.get({\n    documentId: 7491.86,\n  });\n\n  console.log(result);\n}\n\nrun();"
          }
        ]
      }
    },
    "/document/create/beta": {
      "post": {
        "operationId": "document-createDocumentTemporary",
        "summary": "Create document",
        "description": "You will need to upload the PDF to the provided URL returned. Note: Once V2 API is released, this will be removed since we will allow direct uploads, instead of using an upload URL.",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "The title of the document."
                  },
                  "externalId": {
                    "type": "string",
                    "description": "The external ID of the document."
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "EVERYONE",
                      "MANAGER_AND_ABOVE",
                      "ADMIN"
                    ],
                    "description": "The visibility of the document."
                  },
                  "globalAccessAuth": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "ACCOUNT"
                      ],
                      "description": "The type of authentication required for the recipient to access the document."
                    }
                  },
                  "globalActionAuth": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "ACCOUNT",
                        "PASSKEY",
                        "TWO_FACTOR_AUTH",
                        "PASSWORD"
                      ],
                      "description": "The type of authentication required for the recipient to sign the document. This field is restricted to Enterprise plan users only."
                    }
                  },
                  "formValues": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    }
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email",
                          "minLength": 1
                        },
                        "name": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "CC",
                            "SIGNER",
                            "VIEWER",
                            "APPROVER",
                            "ASSISTANT"
                          ]
                        },
                        "signingOrder": {
                          "type": "number"
                        },
                        "accessAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT"
                            ],
                            "description": "The type of authentication required for the recipient to access the document."
                          },
                          "default": []
                        },
                        "actionAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "PASSKEY",
                              "TWO_FACTOR_AUTH",
                              "PASSWORD",
                              "EXPLICIT_NONE"
                            ],
                            "description": "The type of authentication required for the recipient to sign the document."
                          },
                          "default": []
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "SIGNATURE"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "FREE_SIGNATURE"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "INITIALS"
                                        ]
                                      },
                                      "fieldMeta": {
                                        "type": "object",
                                        "properties": {
                                          "label": {
                                            "type": "string"
                                          },
                                          "placeholder": {
                                            "type": "string"
                                          },
                                          "required": {
                                            "type": "boolean"
                                          },
                                          "readOnly": {
                                            "type": "boolean"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "initials"
                                            ]
                                          },
                                          "fontSize": {
                                            "type": "number",
                                            "minimum": 8,
                                            "maximum": 96
                                          },
                                          "textAlign": {
                                            "type": "string",
                                            "enum": [
                                              "left",
                                              "center",
                                              "right"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "type"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "NAME"
                                        ]
                                      },
                                      "fieldMeta": {
                                        "type": "object",
                                        "properties": {
                                          "label": {
                                            "type": "string"
                                          },
                                          "placeholder": {
                                            "type": "string"
                                          },
                                          "required": {
                                            "type": "boolean"
                                          },
                                          "readOnly": {
                                            "type": "boolean"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "name"
                                            ]
                                          },
                                          "fontSize": {
                                            "type": "number",
                                            "minimum": 8,
                                            "maximum": 96
                                          },
                                          "textAlign": {
                                            "type": "string",
                                            "enum": [
                                              "left",
                                              "center",
                                              "right"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "type"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "EMAIL"
[...]
